In [1]:
import pandas as pd

df = pd.read_excel('csx_data.xlsx', sheet_name='CSX_index', engine='openpyxl')
df

,Date,Current Index,%Change,Opening,High,Low,Trading Volume (shr),Trading Value (KHR),Market Cap.(Mil.KHR)
0,19/09/2023,462.38,0.21,461.39,463.22,460.40,77596,668911090,12401483
1,18/09/2023,461.42,0.09,462.53,462.53,459.52,81889,693246670,12375864
2,15/09/2023,461.82,0.04,461.52,461.91,460.65,51639,375381030,12386618
3,14/09/2023,461.63,0.15,461.59,462.33,459.93,49709,377165210,12381467
4,13/09/2023,462.32,0.37,460.95,464.22,460.06,72530,534518740,12400128
...,...,...,...,...,...,...,...,...,...
2708,25/04/2012,994.62,4.64,994.62,994.62,994.62,35453,327940250,804502
2709,24/04/2012,1043.01,4.90,1043.01,1043.01,1043.01,54735,530929500,843640
2710,23/04/2012,1096.77,0.00,1107.53,1107.53,1096.77,542994,5553099200,887126
2711,20/04/2012,1096.77,4.61,1096.77,1096.77,1096.77,377342,3848888400,887126
2712,19/04/2012,1048.39,4.84,1048.39,1048.39,1048.39,488528,4763148000,847988